@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
@import url('https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&family=Space+Mono&display=swap');
body{
    color: red;
    background-color: black;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.container {
    position: relative;
    display: inline-block;
  }
  .maintxt {
    position: relative;
    color: black;
    font-size: 30px;

  }
  .maintxt > img,
  .overlay-text {
    position: absolute;
  }
  .image{
    width: 500px;
  }